body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   border: 2px solid black;
}

#main-table table{
   padding: 10px;
}

#number-line td{
   border: 1px solid black;
   border-radius: 20%;
   
}

#heading td{
   text-align: center;
 }


#stacked_question td{
   text-align: right;
   border-bottom: 2px solid black;
 }

#simple_question td{
   text-align: center;
   
 }

#text_question td{
   text-align: left;
   
 }
